@import "Reset.css";

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
    opacity: 0.8;
}
body{
    height: 100vh;
    background-image: url(../MEDIAS/bg.jpg);
    background-repeat: round;
    background-size: 100%;
    text-align: center;
}
.PaddingT{
    padding-top: 300px;
}
.btn{
    background-color: #ffffff00;
    color: #fff;
    font-size: 20px;
    border-radius: 50px;
    text-align: center;
    font-family: 'raleway';
    padding: 10px 10px 10px 10px;  
    border: #fff solid 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 30px;
    width: 140px;
}

.btn:hover {
    background-color: rgb(255, 255, 255);
    border: #fff solid 1px;
    color: #007eba;
    font-size: 20px;
    border-radius: 50px;
    text-align: center;
    font-family: 'raleway';
    width: 140px;
    margin: 30px;
    padding: 10px 10px 10px 10px;
    
}

.ffraleway {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: whitesmoke;
    text-transform: uppercase; 
    font-size: 20px;
    letter-spacing: 5px;
}

.bold {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-transform: uppercase; 
    font-size: 50px;

}